body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #000;
    color:#fff;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}
.sidebar{
    background-color:#000;
    width: 375px;
    border-radius: 1rem;
    margin-right: 0.5rem;
}
.main_content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem;
}
.music_player{
    background-color:black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
}

a{
    text-decoration: none;
    color: #fff;
}
.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}
.nav_option{
    line-height: 2.5rem;
    opacity: 0.7;
}
.nav_option:hover{
    opacity: 1;
}
.nav_option i{
    font-size: 1.25rem;
}
.nav_option a{
    font-size: 1rem;
    margin-left: 1rem;
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    margin-top: 0.5rem;
    height: 100%;
    padding: 0.5rem 0.75rem;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lib_option img{
    border-radius: 20%;
    height: 1.5rem;
    width: 1.3rem;
}
.lib_option a{
    font-size: 1.25rem;
}
.icons{
    font-size: 1.3rem;
    display: flex;
}
.icons i{
    opacity: 0.7;
    margin-right: 1rem;
}
.icons i:hover{
    opacity: 1;
}

.box{
    background-color: #232323;
    height: 8rem;
    border-radius: 0.75rem;
    margin: 0.5rem 0;
    padding: 0.75rem 1rem;
}
.box-p1{
    font-size: 1rem;
    font-weight: 500;
}
.box-p2{
    font-size: 0.75rem;
    opacity: 0.9;
}
.badge{
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
}
.dark-badge{
    background-color: #000;
    color: #fff;
}
.sticky_nav{
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    z-index: 10;
}
.sticky_nav_icons{
  margin-left: 0.75rem;
  font-size: 1.4rem;
  font-weight: 100;
}
.sticky_icon{
 border-radius:50%;
 font-size: 1.2rem;
}
.sticky_nav_options{
  margin-right: 1rem;
}
.nav-item{
    margin-right: 1rem;
}

@media (max-width:1000px) {
    .hide{
        display: none;
    }
}
.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin:1rem 1.5rem .5rem 0;
}
.card-img{
    width: 100%;
    border-radius: 0.5rem;
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
}
.card-title{
    font-weight: 600;
}
.card-info{
    font-size: 0.75rem;
    opacity: 0.8;
}
.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width: 95%;
    height: 50%;
    border-top: #fff 2px solid;
    opacity: 0.4;
}

.music_player{
    padding: 1rem;
    display: flex;
}
.album{
    width: 25%;
}
.player{
    width: 50%;
}
.controls{
    width: 25%;
}
.player-control{
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-control i{
    margin: 0 .75rem;
    font-size: 1.5rem;
    opacity: 0.7;
    transition: all .2s ease;
}
.player-control i:hover{
    opacity: 1;
    scale: 1.1;
}

.playback-bar{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor:pointer;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    height: 0.25rem;
    margin-left: .25rem;
    margin-right: .25rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color:#1bd760;
    border-radius: 50%;
    margin-top: -6px;
}




